{
	extends: 'wpcalypso/react',
	rules: {
		'comma-dangle': [
			2,
			'always-multiline'
	    ],
	    'wpcalypso/jsx-classname-namespace' : 0
	},
	globals: {
    	window: true,
    	document: true
  	}
}